/* Estilos del banner */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%; /* Asegurar que el banner ocupe el 100% del ancho de la pantalla */
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    box-sizing: border-box; /* Incluir padding/margen en el ancho total */
    padding: 20px; /* Añadir padding para evitar que los elementos toquen los bordes */
}

/* Texto y botones dentro del banner */
.banner-text {
    max-width: 100%; /* Asegurar que el contenido del banner no se salga del área visible */
}

.banner-text h1 {
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-text button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.banner-text button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Logo en el banner */
.logo {
    margin-left: 20px;
}

.logo-img {
    width: 100px;
    height: 100px;
}

/* Barra de navegación */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ocupar el 100% del ancho del banner */
    padding: 20px 40px; /* Ajustar el padding */
    background-color: #664C43; /* Fondo semitransparente */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; /* Permitir que los enlaces se ajusten en múltiples líneas si es necesario */
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}



/* Media Queries para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .banner-text h1 {
        font-size: 2em;
    }
    .banner {
        height: 200px;
        padding: 10px; /* Reducir padding en pantallas más pequeñas */
    }
    .nav-links a {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .logo-img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .banner-text h1 {
        font-size: 1.5em;
    }
    .banner {
        height: 150px;
        padding: 10px; /* Mantener padding más reducido para móviles */
    }
    .nav-links a {
        font-size: 0.8em;
        padding: 6px 12px;
    }

    .logo-img {
        width: 35px;
        height: 35px;
    }
}
