footer {
    background-color: #664C43;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p, footer a {
    color: white;
    font-size: 1em;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    footer p, footer a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px) {
    footer p, footer a {
        font-size: 0.8em;
    }
}
