/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del Footer */
footer {
    background-color: #2e3b4e; /* Fondo del footer */
    color: #ffffff; /* Color del texto */
    padding: 1.5rem 2rem; /* Espaciado interno */
    text-align: center; /* Alineación centrada del texto */
}

.footer-content p {
    margin: 0.5rem 0; /* Margen entre líneas de texto */
}

/* Estilos para iconos de redes sociales */
.social-icons {
    display: flex; /* Flexbox para fila */
    justify-content: center; /* Centra los iconos */
    gap: 1rem; /* Espacio entre iconos */
    margin-top: 1rem; /* Margen superior para separación */
}

.social-icons a img {
    width: 24px; /* Tamaño de iconos de redes sociales */
    transition: transform 0.3s; /* Efecto de transición suave */
}

.social-icons a:hover img {
    transform: scale(1.1); /* Efecto zoom en hover */
}
