/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Sección de reserva */
.reserva {
    padding: 40px 20px;
    text-align: center;
}

.reserva h2 {
    font-size: 32px;
    color: #2b3a3f;
    margin-bottom: 24px;
}

/* Formulario */
.formulario {
    background-color: #e0d8c3;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
    color: #4a4e54;
    font-weight: bold;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c3a985;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón de Confirmación */
.button {
    background-color: #a17a31;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
    font-size: 16px;
    width: 100%;
}

.button:hover {
    background-color: #7f6122;
}

/* Mensaje de confirmación */
.mensaje-reserva {
    color: #5e4529;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
