.equipo {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.grupo {
    width: 100%;
    margin: 0 auto 40px auto;
    box-sizing: border-box;
}

.grupo h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.guia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.guia {
    flex: 1 1 100%; /* Ocupa todo el ancho de la pantalla en pantallas pequeñas */
    text-align: center;
    box-sizing: border-box;
    max-width: 300px;
    margin: 10px;
}

.guia img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 300px; /* Alto fijo para mantener el mismo tamaño en todas */
    border-radius: 10px;
    object-fit: cover; /* Mantiene la proporción de la imagen sin distorsionarse */
}

.guia h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.guia p {
    font-size: 1em;
    color: #666;
}

@media (min-width: 768px) {
    .guia {
        flex: 1 1 45%; /* Dos columnas en pantallas medianas */
    }
}

@media (min-width: 1024px) {
    .guia {
        flex: 1 1 30%; /* Tres columnas en pantallas grandes */
    }
}
