/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    background-color: #2b3a3f;
    color: #e0e2db; 
    padding: 24px 32px;
    text-align: center;
}

.footer-content p {
    margin: 8px 0;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.social-icons a img {
    width: 24px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

.social-icons a {
    color: #e0e2db; 
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #a17a31; 
}

/* Media queries para móviles */
@media (max-width: 768px) {
    footer {
        padding: 16px;
    }

    .social-icons {
        gap: 8px;
    }

    .social-icons a img {
        width: 20px;
    }
}

/* Media queries para tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
    footer {
        padding: 20px 24px;
    }

    .social-icons a img {
        width: 22px;
    }
}
